<h1>Bienvenido a <%= title %></h1>
<p>Plataforma donde puede jugar contestando preguntas al azar</p>
<p><a href="/quizes/question"><img src="http://cdn.gobankingrates.com/wp-content/uploads/start-quiz.png"></a></p>