<h1 id="tex1">Bienvenido a <%= title %></h1>
<p>Plataforma donde puede jugar contestando preguntas al azar</p>
<p><a id="imag2" href="/quizes/question"><img src="http://cdn.gobankingrates.com/wp-content/uploads/start-quiz.png"></a></p>
<p><a id="text1" href="/quizes/question">¡Comience a jugar!</a></p>