<h1 id="tex1">Bienvenido a <%= title %></h1>
<p>Plataforma donde puede jugar contestando preguntas al azar</p>
<div id="imag2" >
    <p><a href="/quizes/question"><img src="http://cdn.gobankingrates.com/wp-content/uploads/start-quiz.png"></a></p>
</div>
<div id="text1">
    <p><a href="/quizes/question">¡Comience a jugar!</a></p>
</div>
