* { margin: 0; padding: 0; }

section > div { padding: 20px; }
header, nav, section, footer {text-align: center; }
nav span { margin: 0px 10px 0px 0px; }

/*#h1 {
  text-align: center;
}

#n1 {
  text-align: center;
}

#s1 {
  text-align: center;
}

#f1 {
  text-align: center;
}*/

#lista {
  text-align: left;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
